{{yield}}
<li>
  {{input type="checkbox" checked=(readonly task.isCompleted) click=(action 'toggleCompleted' task)}}
  <span class="title{{if task.isCompleted " is-completed"}}"> {{task.title}}</span>
  <button title="הסר" class="remove" {{action 'openModal' task}}>x</button>
  <button title="שתף" class="share {{if task.isShared " is-shared"}}" {{action 'removeTask' task}}>&nbsp;</button>
</li>